<footer>
    <div class="footer-links">
        <a href="" target="_blank" class="icon-social youtube" data-toggle="tooltip" data-placement="top" title="Assista"></a>
        <a href="" target="_blank" class="icon-social twitter" data-toggle="tooltip" data-placement="top" title="Comente"></a>
        <a href="" target="_blank" class="icon-social facebook" data-toggle="tooltip" data-placement="top" title="Compartilhe"></a>
    </div>
    <p class="text-center">
        © 2017 - Educa Pará
    </p>
</footer>