<section id="palestrantes">
  <div class="container">
      <div class="row text-center">
          <h3 class="title">QUEM SOMOS</h3>
      </div>
      <div class="row">
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
              <img src="./assets/img/pelestrante_03.png" alt="Joel Rodrigues">
              <div class="caption">
                  <h3>Joel - C#</h3>
                  <p>Editor e consultor no portal DevMedia.</p>
              </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
              <img src="./assets/img/pelestrante_01.png" alt="Fernando Gaspar">
              <div class="caption">
                  <h3>Fernando - PHP</h3>
                  <p>Bacharel em Sistemas de Informação.</p>
              </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
              <img src="./assets/img/pelestrante_00.png" alt="Diego Souza">
              <div class="caption">
                  <h3>Diego - PHP</h3>
                  <p>Apaixonado por desenvolvimento!</p>
              </div>
              </div>
          </div>
          
      </div>
  </div>
</section>