<section id="palestrantes">
  <div class="container">
      <div class="row text-center">
          <h3 class="title">QUEM SOMOS</h3>
      </div>
      <div class="row">
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
              <img src="./assets/img/jairo.png" alt="Jairo Sousa">
              <div class="caption">
                  <h3>Jairo Sousa</h3>
                  <p>Universidade Federal Rural da Amazônia</p>
              </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
              <img src="./assets/img/bab.png" alt="Barbara Porfírio">
              <div class="caption">
                  <h3>Barbara Porfírio</h3>
                  <p>Bacharel em Sistemas de Informação.</p>
              </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
              <img src="./assets/img/jsf.png" alt="Jairo Filho">
              <div class="caption">
                  <h3>Jairo Filho</h3>
                  <p>Graduando em Ciência da Computação</p>
              </div>
              </div>
          </div>
          
      </div>
  </div>
</section>