<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="modal fade" id="modal-login" tabindex="-1">

	<div class="modal-dialog">

		<div class="modal-content">
			<div class="modal-header login_modal_header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h2 class="modal-title" id="myModalLabel">Faça o Login da sua Conta</h2>
			</div>
			<div class="modal-body login-modal">
				<br/>
				<div class="clearfix"></div>
				<div id='social-icons-conatainer'>
					<div class='modal-body-left'>
						<div class="form-group">
							<input type="text" id="username" placeholder="Entre com o seu e-mail" value="" class="form-control login-field">
							<i class="fa fa-user login-field-icon"></i>
						</div>

						<div class="form-group">
							<input type="password" id="login-pass" placeholder="Entre com a sua senha" value="" class="form-control login-field">
							<i class="fa fa-lock login-field-icon"></i>
						</div>

						<a href="#" class="btn btn-success modal-login-btn">Acessar</a>
					</div>

					<div class='modal-body-right'>
						<div class="modal-social-icons">
							<div class="sicon">

								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
									<div class="icon-circle">
										<a href="#" class="ifacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
									<div class="icon-circle">
										<a href="#" class="igoogle" title="Google+"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>

							</div>

						</div>
					</div>
					<div id='center-line'> OU </div>
				</div>
				<div class="clearfix"></div>

				<div class="form-group modal-register-btn">
					<button class="btn btn-default"> Crie a sua Conta</button>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="modal-footer login_modal_footer">

				Educa Pará
			</div>
		</div>


	</div>
</div>