section {
    box-sizing: border-box;
    padding: 20px 0 50px;
}

section:nth-child(odd){
    background-color: #e2e2e2;
}
section .title{
    display: inline-block;
    margin: 10px auto 40px;
    padding: 0 10px 5px;
    border-bottom: 3px solid #222222;
}