section {
    box-sizing: border-box;
    padding: 20px 0 50px;
}

section .title{
    display: inline-block;
    margin: 10px auto 40px;
    padding: 0 10px 5px;
    border-bottom: 3px solid #222222;
}